**/Dockerfile
.dockerignore

.github

/docker/devnet/monad
/docker/devnet/wal
/docker/flexnet/logs
/docker/flexnet/save_logs

# unfortunately some submodules require .git folder to exist...
/.git

**/target

**/*.data
**/*.data.old
**/*.svg
