**/Dockerfile
.dockerignore

.github

/docker/devnet/monad/ledger
/docker/devnet/monad/blockdb
/docker/devnet/monad/triedb
/docker/devnet/monad/wal
/docker/devnet/monad/mempool.sock
/docker/flexnet/logs
/docker/flexnet/save_logs

# unfortunately some submodules require .git folder to exist...
/.git

**/target

**/*.data
**/*.data.old
**/*.svg
