/target
/docker/single-node/.venv
/docker/single-node/logs
/docker/devnet/monad/bft-ledger
/docker/devnet/monad/block-payload
/docker/devnet/monad/ledger
/docker/devnet/monad/wal_*
/docker/devnet/monad/triedb
/docker/devnet/monad/config/forkpoint.toml

test-keys
.vscode
*.swp
.idea
.cargo/config.toml
/*.log
.gdbinit
.devcontainer
/venv
/logs
