/target
/docker/flexnet/.venv
/docker/flexnet/logs
/docker/devnet/monad/blockdb
/docker/devnet/monad/ledger
/docker/devnet/monad/wal_*
/docker/devnet/monad/triedb
/docker/devnet/monad/config/forkpoint.toml

test-keys
