[Unit]
Description="Service file for Monad RPC"
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monad-rpc \
    --ipc-path /home/monad/monad-bft/mempool.sock \
    --triedb-path /dev/triedb \
    --otel-endpoint "http://0.0.0.0:4317" \
    --allow-unprotected-txs \
    --node-config /home/monad/monad-bft/config/node.toml
Environment="RUST_LOG=info,monad_ipc=debug"
EnvironmentFile=-/home/monad/.env
Restart=no
User=monad
Group=monad
DeviceAllow=/dev/triedb rw
LimitNOFILE=1048576
AllowedCPUs=12-15
# Hugemem configs below
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
#SystemCallFilter=~@memlock
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
