[Unit]
Description="Service file for Monad Archiver"
After=network.target
[Service]

Type=simple
ExecStart=/usr/local/bin/monad-archiver \
    --block-data-source "triedb /dev/triedb 5000" \
    --fallback-block-data-source "aws ${ARCHIVE_FALLBACK} 50" \
    --archive-sink "aws ${S3_BUCKET} 50" \
    --bft-block-path /home/monad/monad-bft/ledger \
    --otel-endpoint "http://0.0.0.0:4317" \
    --max-concurrent-blocks 10
EnvironmentFile=-/home/monad/.env
Environment="RUST_LOG=debug,h2=warn,tower=warn"
Restart=no
User=monad
Group=monad
AllowedCPUs=13-14
DeviceAllow=/dev/triedb rw
LimitNOFILE=1048576
# Hugemem configs below
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
#SystemCallFilter=~@memlock
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
