services:
  build_triedb:
    image: monad-execution-builder:latest
    command: monad_mpt --storage /monad/triedb/test.db --create
    volumes:
      - ./node:/monad
    security_opt:
      - "seccomp:${MONAD_BFT_ROOT}/docker/devnet/monad/config/profile.json"

  build_genesis:
    image: monad-execution-builder:latest
    depends_on:
      build_triedb:
        condition: service_completed_successfully
    volumes:
      - ./node:/monad
    security_opt:
      - "seccomp:${MONAD_BFT_ROOT}/docker/devnet/monad/config/profile.json"
    command:
      monad
      --chain monad_devnet
      --db /monad/triedb/test.db
      --block_db /monad/ledger
      --nblocks 0
      --genesis /monad/config/genesis.json
      --log_level ERROR
    ulimits:
      memlock:
        soft: "16770785280"
        hard: "16770785280"

  monad_execution:
    image: monad-execution-builder:latest
    depends_on:
      build_triedb:
        condition: service_completed_successfully
      build_genesis:
        condition: service_completed_successfully
    volumes:
      - ./node:/monad
    security_opt:
      - "seccomp:${MONAD_BFT_ROOT}/docker/devnet/monad/config/profile.json"
    command: |
      monad
      --chain monad_devnet
      --db /monad/triedb/test.db
      --block_db /monad/ledger
      --statesync /monad/statesync.sock
      --log_level ERROR
    ulimits:
      memlock:
        soft: "16770785280"
        hard: "16770785280"

  monad_node:
    build:
      context: ${MONAD_BFT_ROOT}
      dockerfile: ${DEVNET_DIR}/Dockerfile
    image: monad-node:latest
    depends_on:
      - build_triedb
      - monad_execution
    environment:
      - RUST_LOG=
    volumes:
      - ./node:/monad
    security_opt:
      - "seccomp:${MONAD_BFT_ROOT}/docker/devnet/monad/config/profile.json"
    command: |
      monad-node
      --secp-identity /monad/config/id-secp
      --bls-identity /monad/config/id-bls
      --node-config /monad/config/node.toml
      --forkpoint-config /monad/config/forkpoint.genesis.toml
      --validators-path /monad/config/validators.toml
      --statesync-ipc-path /monad/statesync.sock
      --wal-path /monad/wal
      --mempool-ipc-path /monad/mempool.sock
      --control-panel-ipc-path /monad/controlpanel.sock
      --ledger-path /monad/ledger
      --triedb-path /monad/triedb
    ulimits:
      memlock:
        soft: "16770785280"
        hard: "16770785280"

  monad_rpc:
    build:
      context: ${MONAD_BFT_ROOT}
      dockerfile: ${RPC_DIR}/Dockerfile
    image: monad-rpc:latest
    depends_on:
      - build_triedb
      - monad_node
    volumes:
      - ./node:/monad
    security_opt:
      - "seccomp:${MONAD_BFT_ROOT}/docker/devnet/monad/config/profile.json"
    ports:
      - "8080:8080"
    command: |
      monad-rpc
      --ipc-path /monad/mempool.sock
      --triedb-path /monad/triedb
      --node-config /monad/config/node.toml
    ulimits:
      memlock:
        soft: "16770785280"
        hard: "16770785280"

networks:
  default:
    driver: bridge
