name: Validate OpenRPC documentation

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
    paths:
      - "monad-rpc/**"


env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04-32

    steps:
      - name: Generate a token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.REPO_READONLY_GITHUB_APP_ID }}
          private_key: ${{ secrets.REPO_READONLY_GITHUB_APP_KEY }}
          permissions: >-
            {"contents": "read"}
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ steps.generate_token.outputs.token }}
      - name: Generate OpenRPC documentation
        run: cargo run --bin monad-rpc-docs > openrpc.json
      - name: Validate OpenRPC documentation
        uses: philipglazman/openrpc-validation@v1
        with:
          file-path: openrpc.json